{% extends 'base.html.twig' %}

{% block title %}Coffee{% endblock %}

{% block body %}

    <div class="container">

        <h1>Coffee</h1>

    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
        <table>
            <tr>

                <td><img src="/images/{{ coffee.image }}" class="img-thumbnail"/></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ coffee.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ coffee.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ coffee.description }}</td>
            </tr>
            <tr>
                <th>IngredientsList</th>
                <td>{{ coffee.ingredientsList }}</td>
            </tr>
            <tr>
                <th>PriceRange</th>
                <td>{{ coffee.priceRange }}</td>
            </tr>

            <tr>
                <th>Reviews</th>
                <td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        {% for review in coffee.reviews %}
                            {{ review.author }} :: {{ review.summary }} :: {{ review.numStars }}
                            <br>
                        {% else %}
                            (no reviews for this Coffee)
                        {% endfor %}

                        {% else %}
                            {% for review in coffee.reviews %}
                                {{ review.summary }} :: {{ review.numStars }}
                                <br>
                            {% else %}
                                (no reviews for this Coffee)
                            {% endfor %}
                    {% endif %}
                </td>
            </tr>


        </table>

    </div>

        <a href="{{ path('coffee_index') }}">Back to Coffees</a>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <a href="{{ path('review_new', {'id': coffee.id}) }}">Add Review</a>

            <a href="{{ path('coffee_edit', {'id': coffee.id}) }}">Edit</a>

            {% include 'coffee/_delete_form.html.twig' with {'identifier': coffee.id} only %}
        {% endif %}



    </div>

{% endblock %}